{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}
            <p>Сортировка по: <a href="/catalog?sort=name">Названию</a>  <a href="/catalog?sort=price">Начитаная с дешевых</a>  <a href="/catalog">Начиная с дорогих</a></p>
        </div>

        <div class="content">
            {# Здесь должен отображаться каталог с телефонами #}
            <div class="row">
                {% for phone in phones %}
                <div class="book col-md-6">
                    <h2><a href="{{phone.get_absolute_url}}">{{phone.name}}</a></h2>
                    <p>Стоимость: {{phone.price}}</p>
                    <img src="{{phone.image}}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}